:root {
  --dark-blue: #2f3949;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  margin: 0;
  
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.no-margin {
  margin: 0;
}


