:root {
  --dark-blue: #2f3949;
}


body {
  margin: 0;
  
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.no-margin {
  margin: 0;
}


