
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Sorts+Mill+Goudy&display=swap');




:root {
  --dark-blue: #2f3949;
  --cream: #faf6f6;
  --light-blue: #b5ccdb;
  --light-grey: #d9d9d9;
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  margin: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.no-margin {
  margin: 0;
}

.space-evenly {
  justify-content: space-evenly;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-sort-mill-goudy{
  font-family: 'Sorts Mill Goudy', serif;
}

.header {
  position: sticky !important;
  top: 0;
  width: 100%;  
  z-index:2 
}

.calendar {
    position:relative;
   }





